*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    width: 100%;
    height: 150px;
    background-color: #ECEEF2;
    position: relative;
    transition: all 0.5s;

   
    .icon .show-sidebar{
        float: right;
        color:red;
        cursor: pointer;
         position: absolute;
         top: 100px;
        left: 40px;
        font-size: 30px;
    

    }
    .icon .close-sidebar{
        float: right;
        color:red;
        cursor: pointer;
         position: absolute;
         top: 100px;
        right: 40px;
        font-size: 30px;
    }
     
   

    .nav-list{
        ul{
            display: flex;
            margin-left: 30%;
        
        }

    
        li{
            list-style: none;
            margin: 10px;
            margin-top: 60px;
       } 
        
        a{
            
            text-decoration: none;
            color: #2F1919;
            transition: 0.3s;

        }
        a:hover{
                 color: aqua;
        }
    }

  
}
.hide{
    transform:  translateY(-90px);

    }